<% provide(:title, "#{@user.profile.first_name} #{@user.profile.last_name}") %>
<div class="container" id="userProfile">
  <div class="row">
    <aside class="col-md-3 text-left">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
      <h2><%= @user.profile.first_name %> <%= @user.profile.last_name %></h2>
      <%= @user.profile.job_title %></h3>
      <div class="profile-block profile-description">
        <h3>Description</h3>
        <%= @user.profile.description %>
      </div>
      <div class="profile-block profile-contact-info">
        <h3>Contact information</h3>
        <%= @user.profile.phone_number %><br>
      </div>
    </aside>
    <div class="col-md-6">
      <h2>POSTS</h2>
      <ul class="list-unstyled">
        <li>
          <div class="well">
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
