<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <!-- START OF ALERT MSG ################################################ -->
    <div class="container" style="position: absolute; padding:0; width:100%;">
      <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{type} text-center" %>
      <% end %>
    </div>
    <!-- END OF ALERT MSG ################################################## -->
    <%= yield %>
    <% if !user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
